@model RouterDetector.Models.Networklogs

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Networklogs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DstIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DstIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DstPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DstPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RuleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RuleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivePcap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivePcap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogOccurrence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogOccurrence)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
